body {
  background-image: url(../images/bg.jpg);
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  text-align: center;
  margin: 0.25em;
  font-style: italic;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 1.25em;
  margin-bottom: 0.25em;
}

#quote {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.25em;
  color: #888;
  quotes: "“" "”" "‘" "’";
}
#quote:before {
    content: open-quote;
    font-size: 1.5em;
}
#quote:after {
    content: close-quote;
    font-size: 1.5em;
}

button {
  border-radius: 50px;
  border: 0;
  margin: 0.5em;
  padding: 1em;
  text-transform: uppercase;
  font-size: 1.25em;
  min-width: 100px;
}
button.green {
  background-color: #00b900;
  color: #fff;
}
button.red {
  background-color: #a70000;
  color: #fff;
}


form {
  text-align: center;
}

label input {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-radius: 30px;
  border: 1px;
  padding: 0.7em;
}

.help {
  text-align: center;
  .kb-short {
    border-radius: 4px;
    border: 1px solid #888;
    padding: 0.2em 0.5em;
    background-color: #eee;
  }
}
